<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Cancer Registry Project </title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css"  charset="utf-8">
    <!-- <link rel="stylesheet" href="bower_components/bootstrap-pincode-input/css/bootstrap-pincode-input.css" charset="utf-8"> -->
    <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css"  charset="utf-8">
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.min.css" charset="utf-8">
    <style >
 .radio-inline {
margin-top: 0;
margin-left: 0px !important;
}

.error{
  color:#A94442;
}
.required{
  font-size: 18px;
  color:#A94442;
}

.radio-inline{
   width:20%
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #000;
}
.pincode-input-container {
    display: inline-block;
}

        .pincode-input-text, .form-control.pincode-input-text {
    width: 35px;
    float: left;
}
  .pincode-input-container input.first {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
        .pincode-input-container input.mid {
    border-radius: 0px;
    border-left-width: 0px;
}
        .pincode-input-container input.last {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}

        input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
    </style>
  </head>
  <body ng-app="cancerRegistryApp">
      <br/><br/>

    <toaster-container></toaster-container>


   <div class="container">
     <h2 align="center">Cancer Registry Project</h2>
     <h3 align="center"> Tata Memorial Centre, Mumbai</h3>
     <h4 align="center"> Nargis Dutt Memorial Cancer Hospital, Barshi </h4>

     <br/><br/><br/>

    <div>
     <form name="cancerForm" ng-controller="formController" ng-submit="processForm()" class="form-horizontal" novalidate>

       <div class="form-group">
         <label style="text-align: left;" class ="control-label col-sm-3 ">Aadhar Number (12 digit number)</label>
          <!--<div class="col-sm-6">
           <input autofocus type="number" minlength="12" maxlength="12" class="form-control" id="exampleInputEmail1" placeholder="Aadhar">
         </div>-->

         <div class="col-sm-9 pincode-input-container">
             <input ng-model="formData.aadhar_1"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text first" number-only move-focus>
             <input ng-model="formData.aadhar_2"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_3"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_4"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_5"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_6"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_7"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_8"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_9"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_10"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_11"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
             <input ng-model="formData.aadhar_12"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text last" number-only move-focus>
         </div>
       </div>


         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Source of registration</label>
            <div class="col-sm-6">
             <input  ng-model="formData.source_of_registration" type="text" class="form-control" id="exampleInputEmail1" placeholder="Hospital / Private Nursing Home">
            </div>
             <div class="col-sm-offset-3 col-sm-6">
                <br/><input  ng-model="formData.date_of_registration" type="text" class="form-control" bs-datepicker id="exampleInputEmail1" placeholder="Date of registration">
             </div>
         </div>

         <div class="form-group" >
           <label style="text-align: left;" class ="control-label col-sm-3">Fullname of patient <span class="required">*</span></label>
            <div class="col-sm-6" ng-class="{ 'has-error': cancerForm.patient_name.$touched && cancerForm.patient_name.$invalid }">
             <input  letter-only ng-minlength="3" required name="patient_name" ng-model="formData.patient_name" type="text" class="form-control" capitalize placeholder="Patient Name">
            </div>
              <!--<p ng-show="cancerForm.patient_name.$error.required && cancerForm.patient_name.$touched ">
                Please provide patient's name
              </p>-->

            <div class="help-block" ng-messages="cancerForm.patient_name.$error" ng-if="cancerForm.patient_name.$touched">
                <p class="error" ng-cloak ng-message="required">Patient name is required.</p>
                <p class="error" ng-cloak ng-message="minlength">Name must be at least 3 characters long</p>
           </div>
          <!-- <pre>cancerForm.patient_name.$error = {{ cancerForm.patient_name.$error | json }}</pre>-->
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Father name</label>
            <div class="col-sm-6">
             <input letter-only ng-model="formData.father_name" capitalize type="text" class="form-control" id="exampleInputEmail1" placeholder="Father Name">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Mother name</label>
            <div class="col-sm-6">
             <input letter-only ng-model="formData.mother_name" capitalize type="text" class="form-control" id="exampleInputEmail1" placeholder="Mother Name">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Spouse name</label>
            <div class="col-sm-6">
             <input letter-only ng-model="formData.spouse_name" capitalize type="text" class="form-control" id="exampleInputEmail1" placeholder="Spouse Name">
            </div>
         </div>



         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Place of residence <span class="required">*</span></label>
            <div class="col-sm-6" ng-class="{ 'has-error': cancerForm.address.$touched && cancerForm.address.$invalid }">
             <input name="address" ng-model="formData.address" ng-minlength="15" required type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Postal address">
            </div>
            <div class="help-block"  ng-messages="cancerForm.address.$error" ng-if="cancerForm.address.$touched">
                <p class="error" ng-cloak ng-message="required">Place of residence is required.</p>
                <p class="error" ng-cloak ng-message="minlength">Address must be at least 15 characters long</p>
           </div>
            <br/><br/>
            <!--<div class="col-sm-offset-3 col-sm-6">
             <input  type="text" class="form-control" id="exampleInputEmail1" placeholder="Pincode">
           </div>-->
           <label style="text-align: left;" class ="col-sm-offset-3 control-label col-sm-3">Pin code</label>
            <div class="col-sm-offset-3 col-sm-6 pincode-input-container">
                <input ng-model="formData.address_pincode_1" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text first" number-only move-focus>
                <input ng-model="formData.address_pincode_2" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                <input ng-model="formData.address_pincode_3" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                <input ng-model="formData.address_pincode_4" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                <input ng-model="formData.address_pincode_5" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                <input ng-model="formData.address_pincode_6" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text last" number-only move-focus>
            </div>
         </div>

           <div class="form-group" >
             <label style="text-align: left;" class ="control-label col-sm-3">Phone No.</label>
              <!--<div class="col-sm-6" ng-class="{ 'has-error': cancerForm.primary_number.$touched && cancerForm.primary_number.$invalid }">
               <input size="10"  maxlength="10" number-only name="primary_number" ng-model="formData.primary_number" type="text" class="form-control" id="exampleInputEmail1" placeholder="Primary">
              </div>

            <br/><br/>

            <div class="col-sm-offset-3 col-sm-6" ng-class="{ 'has-error': cancerForm.secondary_number.$touched && cancerForm.secondary_number.$invalid }" >
             <input number-only size="10"  maxlength="10"  name="secondary_number" ng-model="formData.secondary_number" type="text" class="form-control" id="exampleInputEmail1" placeholder="Secondary">
           </div> -->

           <div class="col-sm-6 pincode-input-container">
               <input ng-model="formData.primary_number_1"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text first" number-only move-focus>
               <input ng-model="formData.primary_number_2"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_3"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_4"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_5"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_6"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_7"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_8"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_9"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.primary_number_10"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text last" number-only move-focus>
           </div>
             <br/><br/>
             <label style="text-align: left;" class ="col-sm-offset-3 control-label col-sm-3">Secondary Number</label>
           <div class="col-sm-offset-3 col-sm-6 pincode-input-container">
               <input ng-model="formData.secondary_number_1"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text first" number-only move-focus>
               <input ng-model="formData.secondary_number_2"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_3"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_4"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_5"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_6"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_7"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_8"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_9"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
               <input ng-model="formData.secondary_number_10"  type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text last" number-only move-focus>
           </div>

          <!--  <div class="help-block" ng-messages="cancerForm.primary_number.$error" ng-if="cancerForm.primary_number.$touched">
                <p class="error" ng-cloak ng-message="minlength">Primary contact must be 10 digits long</p>
           </div>

           <div class="help-block"  ng-messages="cancerForm.secondary_number.$error" ng-if="cancerForm.secondary_number.$touched">
               <p class="col-sm-offset-4 error" ng-cloak ng-message="minlength">Secondary contact must be 10 digits long</p>
          </div>-->
         </div>


         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Date of birth</label>
            <div class="col-sm-6">
             <input  ng-model="formData.date_of_birth" type="text" class="form-control" bs-datepicker id="exampleInputEmail1" placeholder="Date of birth">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Place of birth</label>
            <div class="col-sm-6">
             <input letter-only type="text" ng-model="formData.place_of_birth" class="form-control" id="exampleInputEmail1" placeholder="Name of city/village">
            </div>
            <br/><br/>
            <label style="text-align: left;" class ="col-sm-offset-3 control-label col-sm-3">Pin code</label>
             <div class="col-sm-offset-3 col-sm-6 pincode-input-container">
                 <input ng-model="formData.place_of_birth_pincode_1" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text first" number-only move-focus>
                 <input ng-model="formData.place_of_birth_pincode_2" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                 <input ng-model="formData.place_of_birth_pincode_3" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                 <input ng-model="formData.place_of_birth_pincode_4" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                 <input ng-model="formData.place_of_birth_pincode_5" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text mid" number-only move-focus>
                 <input ng-model="formData.place_of_birth_pincode_6" type="text" maxlength="1" autocomplete="off" class="form-control pincode-input-text last" number-only move-focus>
             </div>
         </div>



         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Duration of stay in village/tehsil (in years)</label>
            <div class="col-sm-6">
             <input  number-only type="text" ng-model="formData.duration_of_stay_in_village" class="form-control" id="exampleInputEmail1" placeholder="Duration of stay in years">
            </div>
             <!--<div class="col-sm-offset-2 col-sm-1 arrow-down">
               <p style="text-align:right">Back</p>
             </div>
           -->
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Age <span class="required">*</span></label>
            <div class="col-sm-6">
             <input  ng-min="1" ng-max="110"  ng-model="formData.patient_age" required name="patient_age" type="number" class="form-control" id="exampleInputEmail1" placeholder="Age in years">
            </div>
             <!--<pre>cancerForm.patient_age.$error = {{ cancerForm.patient_age.$error | json }}</pre>-->
            <div class="help-block" ng-messages="cancerForm.patient_age.$error" ng-if="cancerForm.patient_age.$touched">
                <p class="error" ng-cloak ng-message="required">Patient age is required</p>
                <p class="error" ng-cloak ng-message="min">Age must be greater than 0</p>
                <p class="error" ng-cloak ng-message="max">Age must be less than 110</p>
           </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Sex <span class="required">*</span></label>
            <div class="col-sm-6">
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.sex" name="sex" value="Male">Male</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.sex" name="sex" value="Female">Female</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.sex" name="sex" value="Other">Other</label>
            </div>
            <!-- <pre>cancerForm.sex.$error = {{ cancerForm.sex.$error | json }}</pre> -->
            <div class="help-block" ng-messages="cancerForm.sex.$error" >
                <p class="error" ng-cloak ng-message="required">*Required field</p>
           </div>
            <div ng-show=" formData.sex =='Other' " class="col-sm-6">
             <br/><input letter-only ng-model="formData.sex_other"  name="sex_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
            <!--<pre>cancerForm.sex_other.$error = {{ cancerForm.sex_other.$error | json }}</pre>
            <div class="help-block" ng-messages="cancerForm.sex_other.$error" >
                <p class="error" ng-cloak ng-message="required">*Required field</p>
           </div>-->
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Marital Status <span class="required">*</span></label>
            <div class="col-sm-6">
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.marital_status" name="marital_status" value="Unmarried">Unmarried</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.marital_status" name="marital_status" value="Married">Married</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.marital_status" name="marital_status" value="Widowed">Widowed</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.marital_status" name="marital_status" value="Divorced">Divorced</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.marital_status" name="marital_status" value="Separated">Separated</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.marital_status" name="marital_status" value="Unknown">Unknown</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.marital_status" name="marital_status" value="Other">Other</label>
            </div>
            <div class="help-block" ng-messages="cancerForm.marital_status.$error" >
                <p class="error" ng-cloak ng-message="required">*Required field</p>
           </div>
            <div ng-show=" formData.marital_status =='Other' " class="col-sm-offset-3 col-sm-6">
             <br/><input letter-only ng-model="formData.marital_status_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Mother Tongue <span class="required">*</span></label>
            <div class="col-sm-6">
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Marathi">Marathi</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Hindi">Hindi</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Kannada">Kannada</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Gujarati">Gujarati</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Assamees">Assamees</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Telugu">Telugu</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Urdu">Urdu</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Sindhi">Sindhi</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Unknown">Unknown</label>
              <label class="radio-inline"><input ng-required="true" type="radio" ng-model="formData.mother_tongue" name="mother_tongue" value="Other">Other</label>
            </div>
            <div class="help-block" ng-messages="cancerForm.mother_tongue.$error" >
                <p class="error" ng-cloak ng-message="required">*Required field</p>
           </div>
            <div ng-show=" formData.mother_tongue =='Other' " class="col-sm-offset-3 col-sm-6">
             <br/><input letter-only ng-model="formData.mother_tongue_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Religion <span class="required">*</span></label>
            <div class="col-sm-6">
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Hindu" name="religion">Hindu</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Muslim" name="religion">Muslim</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Christian" name="religion">Christian</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Sikh" name="religion">Sikh</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Jain" name="religion">Jain</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="New Buddhist" name="religion">New Buddhist</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Parsi" name="religion">Parsi</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Unknown" name="religion">Unknown</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.religion" type="radio" value="Other" name="religion">Other</label>
            </div>
            <div class="help-block" ng-messages="cancerForm.religion.$error" >
                <p class="error" ng-cloak ng-message="required">*Required field</p>
           </div>
            <div ng-show=" formData.religion =='Other' " class="col-sm-offset-3 col-sm-6">
             <br/><input letter-only ng-model="formData.religion_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Education <span class="required">*</span></label>
            <div class="col-sm-6">
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Illiterate">Illiterate</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Literate">Literate</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Primary">Primary</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Middle">Middle</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Secondary">Secondary</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Technical after matric">Technical after matric</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="College and above">College and above</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Unknown">Unknown</label>
              <label class="radio-inline"><input ng-required="true" ng-model="formData.education" type="radio" name="education" value="Other">Other</label>
            </div>
            <div class="help-block" ng-messages="cancerForm.education.$error" >
                <p class="error" ng-cloak ng-message="required">*Required field</p>
           </div>
            <div ng-show=" formData.education =='Other' " class="col-sm-offset-3 col-sm-6">
             <br/><input ng-model="formData.education_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Date of first diagnosis</label>
            <div class="col-sm-6">
             <input  ng-model="formData.date_of_diagnosis" type="text" class="form-control" bs-datepicker id="exampleInputEmail1" placeholder="Date of first diagnosis">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Method of diagnosis
             ( Most Valid Basis )</label>
            <div class="col-sm-6">
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Clinical Only">Clinical Only</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="X-Ray">X-Ray</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Isotopes">Isotopes</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Endoscopy">Endoscopy</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Angiography">Angiography</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Exploratory surgery of autopsy but without histology">Exploratory surgery of autopsy but without histology</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Specific biochemical and or immunological test">Specific biochemical and or immunological test</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Cytology">Cytology</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Blood">Blood</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Bone marrow">Bone marrow</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Histology of primary site">Histology of primary site</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Histology of metastasis">Histology of metastasis</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Autopsy with concurrent or previous histology">Autopsy with concurrent or previous histology</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Death only">Death only</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Death relative's information">Death relative's information</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Through death in later years">Through death in later years</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Other">Other</label>
              <label class="radio-inline"><input ng-required="true" type="radio" name="method_of_diagnosis" ng-model="formData.method_of_diagnosis" value="Unknown">Unknown</label>
            </div>
            <div class="help-block" ng-messages="cancerForm.method_of_diagnosis.$error" >
                <p class="error" ng-cloak ng-message="required">*Required field</p>
           </div>
            <div ng-show=" formData.method_of_diagnosis =='Other' " class="col-sm-offset-3 col-sm-6">
             <br/><input ng-model="formData.method_of_diagnosis_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Primary site of tumour</label>
            <div class="col-sm-6">
             <input letter-only type="text" ng-model="formData.primary_site_of_tumor" class="form-control" id="exampleInputEmail1" placeholder="Primary site of tumour">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Primary Histology</label>
            <div class="col-sm-6">
             <input letter-only ng-model="formData.primary_histology" type="text" class="form-control" id="exampleInputEmail1" placeholder="Primary histology">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Treatment prior to admission</label>
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" ng-model="formData.prior_treatment" name="prior_treatment" value="Yes">Yes</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.prior_treatment" name="prior_treatment" value="No">No</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.prior_treatment" name="prior_treatment" value="Not known">Not known</label>
            </div>
         </div>

         <div ng-show="formData.prior_treatment=='Yes'" class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Type of treatment</label>
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="Surgery">Surgery</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="Radiation">Radiation</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="Chemotherapy">Chemotherapy</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="S+R">S+R</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="S+C">S+C</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="R+C">R+C</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="S+R+C">S+R+C</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="Hormone Therapy">Hormone Therapy</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="S+H">S+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="R+H">R+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="C+H">C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="S+R+H">S+R+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="S+C+H">S+C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="R+C+H">R+C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="S+R+C+H">S+R+C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="Other">Other</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.type_of_treatment" name="treatment" value="Unknown">Unknown</label>
            </div>
            <div ng-show=" formData.type_of_treatment =='Other' " class="col-sm-offset-3 col-sm-6">
             <br/><input letter-only ng-model="formData.type_of_treatment_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
         </div>

         <div class="form-group">
           <label style="text-align: left;" class ="control-label col-sm-3">Treatment given within six months at reporting hospital</label>
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Surgery">Surgery</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Radiation">Radiation</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Chemotherapy">Chemotherapy</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="S+R">S+R</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="S+C">S+C</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="R+C">R+C</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="S+R+C">S+R+C</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Hormone Therapy">Hormone Therapy</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="S+H">S+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="R+H">R+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="C+H">C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="S+R+H">S+R+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="S+C+H">S+C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="R+C+H">R+C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="S+R+C+H">S+R+C+H</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Referred elsewhere (NI)">Referred elsewhere (NI)</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Surgery at TMH">Surgery at TMH</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Radiation at TMH">Radiation at TMH</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Chemotherapy at TMH">Chemotherapy at TMH</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Combinations at TMH">Combinations at TMH</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Other">Other</label>
              <label class="radio-inline"><input type="radio" ng-model="formData.current_treatment" name="current_treatment" value="Unknown">Unknown</label>
            </div>
            <div ng-show=" formData.current_treatment =='Other' " class="col-sm-offset-3 col-sm-6">
             <br/><input letter-only ng-model="formData.current_treatment_other" type="text" class="form-control" id="exampleInputEmail1" placeholder="If other specify">
            </div>
         </div>

            <br/>
         <div class="form-group">
            <div class="col-md-offset-5 col-md-4">
              <button ng-disabled="cancerForm.$invalid" type="submit"
                      class="btn btn-success btn-lg"
                      ladda="submitting_form"
                      data-style="expand-right">
                <span ng-show="!submitting_form">Save</span>
                <span ng-show="submitting_form">Processing</span>

              </button>
             <!--  <pre>cancerForm= {{ formData | json }}</pre> -->
            </div>
         </div>

     </form>
   </div>

 </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-messages/angular-messages.js" charset="utf-8"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="bower_components/ladda/dist/spin.min.js" charset="utf-8"></script>
    <script src="bower_components/ladda/dist/ladda.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-ladda/dist/angular-ladda.min.js" charset="utf-8"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
    <!-- <script src="bower_components/bootstrap-pincode-input/js/bootstrap-pincode-input.js"></script> -->
  </body>
</html>
